.App {
  min-height: 100vh;
  background-color: rgb(51, 51, 51);
  background-image: url('../Hexagons.svg');
  background-position-y: 200px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  background-color: #515151;
  border-radius: 15px;
  opacity: 0.9;
  margin-top: 15px;
}

.body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  background-color: #515151;
  border-radius: 15px;
  opacity: 0.93;
  margin-top: 15px;
}

.App-link {
  color: #eb6502;
}

.Center-content {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.Floater {
  float: left;
  padding-top: 2px;
}

.Sticky {
  position: sticky;
  top: 0;
}

.Header-img-div {
  position: fixed;
  left: 50%;
}

.Header-logo-offset {
  margin-left: -92px;
  position: absolute;
}

.Header-first-name {
  position: relative;
  left: -125px;
  top: 5px;
  margin-top: 0px;
}

.Header-last-name {
  position: relative;
  left: 21px;
  bottom: 11px;
  margin-bottom: 0px;
}
